<h1 class="display-4"> Register of a Route </h1>

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">

    <div class="row">
        <div class="input-field col s6">
          <input name="name_route" #name_route="ngModel" [(ngModel)]="service.formData.name_route" class="form-control" placeholder="Name of a Route" required>
          <div *ngIf="name_route.invalid && name_route.touched" class="validation-error">This field is required</div>
        </div>

        <div class="input-field col s6">
          <input name="cenote_name" #cenote_name="ngModel" [(ngModel)]="service.formData.cenote_name" class="form-control" placeholder="Name of a Cenote" required>
          <div *ngIf="name_route.invalid && name_route.touched" class="validation-error">This field is required</div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
          <input name="cenote_input" #cenote_input="ngModel" [(ngModel)]="service.formData.cenote_input" class="form-control" placeholder="Cenote Input" required>
          <div *ngIf="name_route.invalid && name_route.touched" class="validation-error">This field is required</div>
        </div>
        
        <div class="input-field col s6">
          <input name="cenote_services" #cenote_services="ngModel" [(ngModel)]="service.formData.cenote_services" class="form-control" placeholder="Services" required>
          <div *ngIf="name_route.invalid && name_route.touched" class="validation-error">This field is required</div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
          <input name="cenote_schedule" #cenote_schedule="ngModel" [(ngModel)]="service.formData.cenote_schedule" class="form-control" placeholder="Schedule" required>
          <div *ngIf="name_route.invalid && name_route.touched" class="validation-error">This field is required</div>
        </div>
        
        <div class="input-field col s6">
          <input name="how_to_get" #how_to_get="ngModel" [(ngModel)]="service.formData.how_to_get" class="form-control" placeholder="How to Get?" required>
          <div *ngIf="name_route.invalid && name_route.touched" class="validation-error">This field is required</div>
        </div>
    </div>
    
  <div class="row">
   <button class="btn waves-effect waves-light" type="submit" [disabled]="form.invalid" name="action">Submit</button>
  </div>
  
</form>